# dependencies
node_modules/

# Webstorm IDE config
.idea/

# compiled sources
dist/js/

# all builds
builds/

# current build
build/
dist/
dist_mobile/

#.DS_Store
*/.DS_Store
package-lock.json

# person note
note
read.js